body{
    font-family: 'Otomanopee One', sans-serif;
    background-color: #000000;
}
#flex{
    display: flex;
    margin-bottom: 130px;
}
#design{
    text-align: center;
    font-weight: 900;
    color: rgba(247, 169, 169, 0.863);
}
.color{
    font-size: 80px;
    color: coral;
}
.color1{
    font-size: 60px;
    color: darkgrey;
}
.color_for_section{
    color: rgba(158, 84, 30, 0.747);
}
#font_align{
    text-align: justify;
}
.divide_section{
    display: flex;
}
.divide_section1{
    border-radius: 10px;
    border-left: whitesmoke;
    margin-left: 15px;
    margin-right: 40px;
    box-shadow: 10px 15px 30px rgba(41, 39, 39, 0.527);
    width: 50%;
    padding: 10px;
    text-align: justify;
    border-right: 2px solid rgba(209, 194, 194, 0.205);
}

.color_for_planets{
    font-size: 30px;
    color: teal;

} 
footer{
    text-align: center;
    color: darkgrey;
}
footer span{
    font-size: 22px;
    color: yellow;
}